extends layout

block head 
  style.
    .truncate {
      max-width: 600px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

block content
  .w3-container.w3-padding
    .w3-card-4.w3-white.w3-round-large.w3-padding
      h2.truncate= item.title

      p.truncate
        strong Descrição:
        |  #{item.description}

      p
        strong Data de Criação:
        |  #{new Date(item.creationDate).toISOString().slice(0, 19).replace('T', ', ')}

      p
        strong Visibilidade:
        span(class= item.isPublic ? 'w3-text-green' : 'w3-text-red') #{item.isPublic ? 'Público' : 'Privado'}
        |  
        form(method="POST", action=`/diary/${item._id}/toggle-visibility`, style="display:inline; margin-left:10px")
            button(type="submit", class="w3-button w3-small w3-round w3-light-grey") 
                = item.isPublic ? 'Privatizar' : 'Publicar'

      if item.classificadores.length
        p
          strong Classificadores:
          ul
            each tag in item.classificadores
              li= tag

      if item.files.length
        p
            strong Num. de ficheiros:
            |  #{item.files.length}


      if item.comments.length
        p
          strong Comentários:
          ul
            each c in item.comments
              li
                | #{c.text} 
                small.w3-text-grey (#{new Date(c.date).toISOString().slice(0, 19).replace('T', ', ')})

    div(class="w3-bar w3-margin-top")
        a(href="/diary", class="w3-button w3-blue w3-round w3-bar-item") Voltar
        a(href=`/diary/${item._id}/comment`, class="w3-button w3-light-blue w3-text-white w3-round w3-bar-item w3-margin-left") Comentar
        a(href=`/diary/${item._id}/download`, class="w3-button w3-green w3-round w3-bar-item w3-margin-left") Download

